@import "../../../../common/colors.module";
@import "../../../../common/globals.module";

.faceMatcher {

  font-family: "Segoe UI",system-ui,"Apple Color Emoji","Segoe UI Emoji",sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 20px;

  .button {
    display: inline-block;
    color: "[theme:white, default:#fff]";
    background: "[theme:themePrimary, default:#0078d4]";
    padding: 5px 15px;
    margin: 0 10px;

    i {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  p {
    color: "[theme:primaryText, default:#333]";
    line-height: 40px;
    text-align: justify;
    font-size: 17px;
    font-weight: 500;
  }

  hr {
    margin: 40px 0;
  }

  .namesOuterContainer {
    height: auto;
    padding: 2px;
    margin: auto auto 15px;
    background: linear-gradient(to bottom right,#554596,#c8357e,#de9630);
    box-shadow: 0 0 3px 0.5px #625396;
    border-radius: 4px;
    flex: 1 1;

    .namesInnerContainer {
      display: flex;
      padding: 10px;
      background: "[theme:white, default:#fff]";
      border-radius: 4px;

      .namesInnerGrid {

        display: grid;
        grid-column-gap: auto;
        grid-template-columns: 20% 24% 56%;
        width: 100%;
        border-radius: 2px;
        font-size: 10pt;

        @media only screen and (max-width: 1300px) {
          grid-template-columns: 50% 50%;
        }

        h3 {
          font-size: 15pt;
          white-space: nowrap;
          padding: 0 30px;
        }
  
        p {
          line-height: 71px;
          margin: 0px;
          white-space: nowrap;
          font-size: 12pt;
          padding: 0 30px;
        }
  
        .dragDropArea {
          display: flex;
          height: 100%;
          margin: auto;
          justify-content: center;
          transition: background-color .2s ease;
          width: 100%;
          min-height: 52px;
          align-items: center;
          font-size: 10pt;
          border: 1px solid #b84c8d;
          border-radius: 4px;
          background: #fff;

          @media only screen and (max-width: 1300px) {
            grid-column: 1/span 2;
          }
        }
      }

     
    }
  }

  .employeeCardContainer {
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 17px;
    grid-template-columns: 24% 24% 24% 24%;
    height: auto;
    justify-content: center;
  }

  .buttons {
    text-align: center;
    padding-top: 20px;
    clear: both;

    button {
      margin-right: 20px;
      padding: 25px 20px;
    }
  }
}

.popupContent {
  font-size: 20px;
  text-align: center;
}

[data-theme='default'] {

  .faceMatcher {
    p {
      color: $default-firstComponent-color;
    }

    .button {
      background-color: $default-firstComponentButton-background;
      color: $default-firstComponentButton-color;
    }

    .namesOuterContainer {
     
      .namesInnerContainer {
        background: $default-firstComponent-background;

        .dragDropArea {
          background: $default-firstComponent-background;
        }
      }
    }
  }
}

[data-theme='dark'] {

  .faceMatcher {

    p {
      color: $dark-firstComponent-color;

    }

    .button {
      background-color: $dark-firstComponentButton-background;
      color: $dark-firstComponent-color;
    }

    .namesOuterContainer {
     
      .namesInnerContainer {
        background: $dark-firstComponent-background;

        .dragDropArea {
          background: $dark-firstComponent-background;
        }
      }
    }
  }

}

[data-theme='contrast'] {

  .faceMatcher {
    p {
      color: $contrast-firstComponent-color;

    }

    .button {
      background-color: $contrast-firstComponentButton-background;
      color: $contrast-firstComponentButton-color;
    }

    .namesOuterContainer {
     
      .namesInnerContainer {
        background: $contrast-firstComponent-background;

        .dragDropArea {
          background: $contrast-firstComponent-background;
        }
      }
    }
  }

}
