.draggableUser {
  height: 29px;
  width: auto;
  margin: 5px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  display: flex;
  align-items: center;
  font-size: 11pt;
  font-weight: 600;

  i {
    margin-right: 10px;
  }
}