.draggableUser {
  height: 41px;
  width: auto;
  margin: 5px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  display: flex;
  align-items: center;
  font-size: 11pt;
  letter-spacing: 1.3px;
  background: url(./images/isolutions-logo.png);
  background-repeat: no-repeat;
  padding-left: 40px;
  background-position: 10px;
  background-size: 20px;
}