.dialogContainer {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;

  .dividerContainer {

    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    
    .divider {
  
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      color: rgba(0,0,0,.85);
      font-weight: 500;
      font-size: 16px;
      white-space: nowrap;
      text-align: center;
      border-top: 0;
      border-top-color: rgba(0,0,0,.06);
  
      .dividerText {
        margin-bottom: .5rem;
        display: inline-block;
        padding: 0 1em;
  
        
      }
  
      &::before, &::after {
        position: relative;
        top: 50%;
        width: 50%;
        border-top: 1px solid transparent;
        border-top-color: inherit;
        border-bottom: 0;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        content: "";
      }
  
      
    }
  }
  
  
  .rankingUserContainer {
      display: flex;
      align-items: center;
      border: 1px solid #d3d3d3;
      border-radius: 2px;
      padding: .5rem;
      margin: .5rem 0;
      background-color: #fff;
      transition: .3s;
  
      .medal {
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin: 0 .4rem 0 0;
        min-width: 33px;
      }
  
      .pictureContainer {
        background: linear-gradient(45deg,#554596,#c8357e,#de9630);
        border-radius: 50%;
        padding: 1px;
  
        img {
          width: 50px;
          border-radius: 50%;
        }
      }
  
      .rankingContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
  
        p {
          margin: 0 1rem;
          font-size: 12px;
          flex: 1 1;
        }
      }
  }
}

