@import "../../../../common/colors.module";

.employeeExtendedInfo {
    text-align: center;
    margin-top: 20px;

    i {
        font-size: 30px;
    }

    .downArrow {
        margin-bottom: 20px;
    }
    
    .additionalInfo {

        font-size: 12pt;

        display: flex;
        flex-direction: column;
        padding: 12px;
        border-radius: 2px;
        background-color:  "[theme:white, default:#fff]";
        font-size: 12px;
        height: 220px;
        word-break: break-all;
        overflow: auto;

        h3 {
            font-size: 15pt;
            font-weight: 600;
            letter-spacing: 2px;

            text-align: center;
        }

        h4 {
            font-weight: normal;
            text-decoration: underline;
            text-align: center;

        }

        p {
            font-size: 12pt;
            font-size: 8pt;
            line-height: 0px;
        }
    }
}

[data-theme='default'] {
    .employeeExtendedInfo {

        .downArrow {
            color: $default-firstComponent-background;
        }

        .additionalInfo {
            background: $default-firstComponent-background;
        }
    }
}

[data-theme='dark'] {
    .employeeExtendedInfo {
        .downArrow {
            color: $dark-firstComponent-background;
        }

        .additionalInfo {
            background: $dark-firstComponent-background;
        }
    }
}

[data-theme='contrast'] {
    .employeeExtendedInfo {
        .downArrow {
            color: $contrast-firstComponent-background;
        }

        .additionalInfo {
            background: $contrast-firstComponent-background;
        }
    }
}