
:global {
  div#workbenchPageContent {   // for workbench testing
    max-width: 100%;
    border: 0;
    left: 5px;
    right: 5px;

    .CanvasZone {
      max-width: 100%;
      padding: 0 24px;
      margin: auto;
    }
  }
}

.findTheImpostor {
  font-family: "Segoe UI",system-ui,"Apple Color Emoji","Segoe UI Emoji",sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 20px;

  p {
    line-height: 40px;
    font-size: 17px;
    font-weight: 500;
  }

  .numberOfImpostorSelector {
    display: flex;
    justify-content: center;

    p {
      width: 100px;
      height: 100px;
      background-color: #333;
      display: grid;
      align-items: center;
      text-align: center;
      margin: 50px;
      cursor: pointer;
      border-radius: 50%;
      font-size: 45px;
      color: #fff;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .groupsListContainer {
    text-align: center;


    .groupsList {
      text-align: left;
      width: 500px;
      margin: 0 auto
    }
  }
}