
@import "../../../../common/colors.module";
@import "../../../../common/globals.module";

.findTheImpostor {
  font-family: "Segoe UI",system-ui,"Apple Color Emoji","Segoe UI Emoji",sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 20px;

  button {
    padding: 25px 20px;
  }

  p {
    color: "[theme:primaryText, default:#333]";
    line-height: 40px;
    font-size: 17px;
    font-weight: 500;
  }

  .numberOfImpostorSelector {
    display: flex;
    justify-content: center;

    p {
      width: 100px;
      height: 100px;
      background-color: "[theme:primaryText, default:#333]";
      display: grid;
      align-items: center;
      text-align: center;
      margin: 50px;
      cursor: pointer;
      border-radius: 50%;
      font-size: 45px;
      color: "[theme:white, default:#fff]";

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .groupsListContainer {
    text-align: center;


    .groupsList {
      text-align: left;
      width: 500px;
      margin: 0 auto
    }
  }
}

[data-theme='default'] {

  .findTheImpostor {
    p {
      color: $default-firstComponent-color;
    }

    .numberOfImpostorSelector {
      p {
        background-color: $default-firstComponent-color;
        color: $default-firstComponent-background;
      }
    }
  }

}

[data-theme='dark'] {

  .findTheImpostor {
    p {
      color: $dark-firstComponent-color;
      
      .numberOfImpostorSelector {
        p {
          background-color: $dark-firstComponent-color;
          color: $dark-firstComponent-background;
        }
      }
    }
  }
  
}

[data-theme='contrast'] {

  .findTheImpostor {
    p {
      color: $contrast-firstComponent-color;
    }

    .numberOfImpostorSelector {
      p {
        background-color: $dark-firstComponent-color;
        color: $dark-firstComponent-background;
      }

    }
  }
  
}