.employeeCard {
        padding: 2px;
        background: linear-gradient(to bottom right,#554596,#c8357e,#de9630);
        box-shadow: 0 0 3px 0.5px #625396;
        border-radius: 4px;
        flex: 1 1;

    .container {
        display: flex;
        padding: 10px;
        border-radius: 4px;
        flex-direction: column;
        background: #f0f2f5;
        justify-content: space-between;

        .userPicture {
            width: 10rem;
            min-width: 10rem;
            min-height: 10rem;
            border-radius: 50%;
            border: 1px solid #b84c8d;
            transition: transform .3s ease;
            margin: auto;
            font-size: 60pt;
            line-height: 150px;
            text-align: center;
            background-color: #b84c8d;
            color: #fff;
        }

        p {
            font-size: 12pt;
            text-align: center;
        }

        .dropZone {
            border: 1px solid #b84c8d;
            border-radius: 4px;
            min-height: 61px;
            background: #fff;
        }
    
}

    


}
